/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

html {
  font-size: 2.6666666667vw;
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 0.5208333333vw;
  }
}

body {
  background: #efefef;
  color: #000;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

a {
  display: block;
}

.header {
  padding: 1.5rem;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .header {
    position: fixed;
    padding: 4rem;
  }
}
.header__logo-link {
  width: 15.6rem;
  height: 3.2rem;
  background: #6e6e6e;
}
@media screen and (min-width: 1024px) {
  .header__logo-link {
    width: 20rem;
    height: 4rem;
  }
}

.gnav {
  width: 100%;
  height: 100svh;
  position: fixed;
  top: 0;
  z-index: 100;
}
@media screen and (min-width: 1024px) {
  .gnav {
    height: 100px;
    top: initial;
    bottom: 0;
    left: 0;
    border-top: 1px solid #d0d0d0;
  }
}
.gnav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: backdrop-filter 0.4s ease-out;
}
.gnav.js-blur::before {
  backdrop-filter: blur(2px);
}
.gnav__menu {
  width: calc(100% - 6.5rem);
  height: 100%;
  padding-top: 8rem;
  background-color: #fff;
  position: absolute;
  left: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.4s ease-out;
}
@media screen and (min-width: 1024px) {
  .gnav__menu {
    width: 100%;
    padding: 0 0 0 40px;
    background-color: initial;
    position: static;
    align-items: baseline;
    justify-content: center;
  }
}
.gnav__menu.js-opened {
  left: 6.5rem;
}
.gnav__logo {
  width: 20rem;
  height: 4rem;
  background: #6e6e6e;
  margin-bottom: 8rem;
}
@media screen and (min-width: 1024px) {
  .gnav__logo {
    display: none;
  }
}
.gnav__list {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
@media screen and (min-width: 1024px) {
  .gnav__list {
    margin-bottom: 0;
    flex-direction: row;
    gap: 40px;
  }
}
.gnav__link--button {
  width: 15rem;
  padding: 1.7rem 2rem;
  border-radius: 2.5rem;
  background-color: #000;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .gnav__link--button {
    width: auto;
    padding: 0;
    border-radius: none;
    background-color: transparent;
    position: static;
  }
  .gnav__link--button::before, .gnav__link--button::after {
    display: none;
  }
}
.gnav__link--button::before, .gnav__link--button::after {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 9999px;
}
.gnav__link--button::before {
  right: 2.8rem;
  background-color: #82be28;
}
.gnav__link--button::after {
  right: 2rem;
  background-color: #cc0033;
}
.gnav__title {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(17px, 1.7rem, 30px);
}
@media screen and (min-width: 1024px) {
  .gnav__title {
    font-size: 17px;
  }
}
.gnav__title--white {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .gnav__title--white {
    color: #000;
  }
}
.gnav__title--small {
  font-size: clamp(12px, 1.2rem, 20px);
}
@media screen and (min-width: 1024px) {
  .gnav__title--small {
    font-size: 17px;
  }
}
.gnav__title--narrow {
  letter-spacing: -0.04em;
}
@media screen and (min-width: 1024px) {
  .gnav__title--narrow {
    letter-spacing: 0;
  }
}
.gnav__button {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 9999px;
  border: 1px solid #fff;
  background-color: #fff;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  cursor: pointer;
  transition: border 0.4s ease-out;
}
@media screen and (min-width: 1024px) {
  .gnav__button {
    display: none;
  }
}
.gnav__button::before, .gnav__button::after {
  width: 2rem;
  height: 1px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transition: translate, rotate 0.4s ease-out;
}
.gnav__button::before {
  background-color: #82be28;
  translate: -50% calc(-50% - 0.4rem);
}
.gnav__button::after {
  background-color: #cc0033;
  translate: -50% calc(-50% + 0.4rem);
}
.gnav__button.js-opened {
  border: 1px solid #000;
}
.gnav__button.js-opened::before {
  translate: -50% -50%;
  rotate: 45deg;
}
.gnav__button.js-opened::after {
  translate: -50% -50%;
  rotate: -45deg;
}

.footer {
  padding: 10rem 2.5rem;
  background-color: #000;
}
@media screen and (min-width: 1024px) {
  .footer {
    width: 192rem;
    height: 100%;
    padding: 14rem 18rem;
    flex-shrink: 0;
  }
}
.footer__inner {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .footer__inner {
    height: 100%;
    gap: 0;
    justify-content: space-between;
  }
  .footer__inner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 34rem;
    width: 1px;
    height: 100%;
    background-color: #d0d0d0;
  }
}
.footer__top {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media screen and (min-width: 1024px) {
  .footer__top {
    gap: 8rem;
  }
}
.footer__logo-link {
  width: 20rem;
  height: 4rem;
  background-color: #6e6e6e;
}
@media screen and (min-width: 1024px) {
  .footer__logo-link {
    width: 30rem;
    height: 6rem;
  }
}
.footer__dl {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .footer__dl {
    gap: 1rem;
  }
}
.footer__dt {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(15px, 1.5rem, 17px);
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .footer__dt {
    font-size: clamp(17px, 2rem, 20px);
  }
}
.footer__dd {
  font-size: clamp(15px, 1.5rem, 17px);
  color: #fff;
  line-height: 1.85;
}
@media screen and (min-width: 1024px) {
  .footer__dd {
    font-size: clamp(17px, 2rem, 20px);
  }
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media screen and (min-width: 1024px) {
  .footer__bottom {
    width: fit-content;
    gap: 8rem;
  }
}
.footer__link-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .footer__link-list {
    width: fit-content;
    flex-direction: row;
    gap: 5rem;
  }
}
.footer__link {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(15px, 1.5rem, 17px);
  color: #fff;
  position: relative;
}
.footer__link::before {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  scale: 0;
  transform-origin: right;
  transition: scale 0.4s ease-out;
}
.footer__link:hover::before {
  scale: 1;
  transform-origin: left;
}
@media screen and (min-width: 1024px) {
  .footer__link {
    font-size: clamp(17px, 2rem, 20px);
  }
}
.footer__note {
  width: 20.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
}
.footer__note::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #d0d0d0;
}
@media screen and (min-width: 1024px) {
  .footer__note {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  .footer__note::before {
    display: none;
  }
}
.footer__privacy-policy {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(11px, 1.1rem, 13px);
  color: #fff;
  position: relative;
}
.footer__privacy-policy::before {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  scale: 0;
  transform-origin: right;
  transition: scale 0.4s ease-out;
}
.footer__privacy-policy:hover::before {
  scale: 1;
  transform-origin: left;
}
@media screen and (min-width: 1024px) {
  .footer__privacy-policy {
    font-size: 13px;
  }
}
.footer__copyright {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(11px, 1.1rem, 13px);
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    font-size: 13px;
  }
}
.footer__page-top-button {
  cursor: pointer;
  position: absolute;
  bottom: 1.3rem;
  right: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 1024px) {
  .footer__page-top-button {
    bottom: 50%;
    right: 0;
    translate: 0 50%;
    gap: 2.5rem;
  }
}
.footer__page-top-arrow {
  width: 2rem;
  height: 2rem;
  border-radius: 100vmax;
  border: 1px solid #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .footer__page-top-arrow {
    width: 5rem;
    height: 5rem;
  }
}
.footer__page-top-image {
  width: 45%;
}
@media screen and (min-width: 1024px) {
  .footer__page-top-image {
    rotate: -90deg;
  }
}
.footer__page-top-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(13px, 1.3rem, 16px);
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .footer__page-top-text {
    font-size: clamp(18px, 2.1rem, 21px);
  }
}

#top .wrapper {
  position: relative;
}
@media screen and (min-width: 1024px) {
  #top .wrapper {
    height: 100vh;
  }
}
#top .main {
  position: relative;
  z-index: 101;
}
@media screen and (min-width: 1024px) {
  #top .main {
    height: 100%;
    display: flex;
  }
}
#top .fv {
  margin-bottom: 16rem;
  height: 100svh;
  position: relative;
}
@media screen and (min-width: 1024px) {
  #top .fv {
    height: calc(100% - 100px);
    margin-bottom: 0;
    margin-right: 22rem;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1024px) {
  #top .fv {
    margin-left: 22rem;
  }
}
#top .fv__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
@media screen and (min-width: 1024px) {
  #top .fv__inner {
    flex-direction: row-reverse;
    gap: 29rem;
  }
}
#top .fv__logo {
  width: 16rem;
  height: 20rem;
  background: #6e6e6e;
}
@media screen and (min-width: 1024px) {
  #top .fv__logo {
    width: 53rem;
    height: 65rem;
  }
}
#top .fv__catchcopy {
  text-align: center;
  font-size: clamp(28px, 2.8rem, 46px);
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
@media screen and (min-width: 1024px) {
  #top .fv__catchcopy {
    text-align: left;
    font-size: clamp(60px, 8.4rem, 84px);
  }
}
#top .fv__scroll-text {
  position: absolute;
  left: -1.7rem;
  bottom: 6.8rem;
  rotate: 90deg;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(12px, 1.2rem, 18px);
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1024px) {
  #top .fv__scroll-text {
    display: none;
  }
}
#top .fv__scroll-text::after {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  margin-left: 0.8rem;
  width: 1.2rem;
  height: 0.9rem;
  background: url(../images/top/fv_arrow.svg) center center/cover;
}
#top .index {
  margin-bottom: 16rem;
}
@media screen and (min-width: 1024px) {
  #top .index {
    height: calc(100% - 100px);
    margin-bottom: 0;
    margin-right: 22rem;
    flex-shrink: 0;
  }
}
#top .index__inner {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media screen and (min-width: 1024px) {
  #top .index__inner {
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22rem;
  }
}
#top .index__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(50px, 5rem, 70px);
}
@media screen and (min-width: 1024px) {
  #top .index__subtitle {
    font-size: clamp(70px, 9.8rem, 98px);
  }
}
#top .index__list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media screen and (min-width: 1024px) {
  #top .index__list {
    width: 51rem;
  }
}
#top .index__link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
#top .index__link:hover .index__line::before {
  scale: 1;
  transform-origin: left;
}
#top .index__text {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(16px, 1.6rem, 24px);
}
@media screen and (min-width: 1024px) {
  #top .index__text {
    font-size: clamp(24px, 2.8rem, 28px);
  }
}
#top .index__line {
  flex-grow: 1;
  height: 1px;
  background-color: #d0d0d0;
  position: relative;
}
#top .index__line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  scale: 0;
  transform-origin: right;
  transition: scale 0.4s ease-out;
  background-color: #000;
}
#top .index__section-number {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(11px, 1.1rem, 14px);
  color: #939393;
}
@media screen and (min-width: 1024px) {
  #top .index__section-number {
    font-size: clamp(14px, 1.7rem, 17px);
  }
}
#top .movie {
  margin-bottom: 16rem;
  height: 52rem;
  background-color: #6e6e6e;
}
@media screen and (min-width: 1024px) {
  #top .movie {
    height: calc(100% - 100px);
    margin-bottom: 0;
    margin-right: 22rem;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1024px) {
  #top .movie {
    width: 192rem;
    height: 100%;
  }
}
#top .who {
  margin-bottom: 16rem;
}
@media screen and (min-width: 1024px) {
  #top .who {
    height: calc(100% - 100px);
    margin-bottom: 0;
    margin-right: 22rem;
    flex-shrink: 0;
  }
}
#top .who__inner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  #top .who__inner {
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
}
#top .who__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(50px, 5rem, 80px);
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
@media screen and (min-width: 1024px) {
  #top .who__title {
    font-size: clamp(130px, 17rem, 170px);
  }
}
@media screen and (min-width: 1024px) {
  #top .who__title {
    padding: 0;
    margin-bottom: 0;
    margin-right: 50rem;
  }
}
#top .who__section-number {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (min-width: 1024px) {
  #top .who__section-number {
    gap: 4rem;
  }
}
#top .who__section-number span:nth-of-type(1),
#top .who__section-number span:nth-of-type(3) {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(11px, 1.1rem, 20px);
  font-weight: 400;
  color: #939393;
}
@media screen and (min-width: 1024px) {
  #top .who__section-number span:nth-of-type(1),
  #top .who__section-number span:nth-of-type(3) {
    font-size: clamp(24px, 3.6rem, 36px);
  }
}
#top .who__section-number span:nth-of-type(2) {
  flex-grow: 1;
  height: 1px;
  background-color: #d0d0d0;
}
#top .who__message {
  padding: 0 2.5rem;
  font-weight: 700;
  font-size: clamp(16px, 1.6rem, 28px);
  letter-spacing: 0.05em;
  line-height: 2;
  text-align: center;
  margin-bottom: 8rem;
}
@media screen and (min-width: 1024px) {
  #top .who__message {
    padding: 0;
    font-size: clamp(30px, 4.2rem, 42px);
    margin-bottom: 0;
    margin-right: 20rem;
  }
}
#top .who__introduction {
  padding: 8rem 2.5rem 0 2.5rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
  overflow: hidden;
}
#top .who__introduction::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 60rem;
  height: 60rem;
  border-radius: 9999px;
  box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 -5px 10px 0 rgba(255, 255, 255, 0.44);
}
@media screen and (min-width: 1024px) {
  #top .who__introduction {
    height: 100%;
    flex-direction: row;
    gap: 24rem;
    padding: 0 0 0 30rem;
    margin-bottom: 0;
    margin-right: 30rem;
  }
  #top .who__introduction::before {
    width: 220rem;
    height: 220rem;
    top: 50%;
    left: 0;
    translate: 0 -50%;
  }
}
#top .who__figure-area {
  width: 100%;
  padding-bottom: 19rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 1024px) {
  #top .who__figure-area {
    width: auto;
    height: 60rem;
    padding-bottom: 0;
    flex-direction: column;
  }
}
#top .who__figure {
  padding: 0 2.5rem;
  width: 15rem;
  height: 5rem;
  border-radius: 9999px;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  #top .who__figure {
    padding: 0 6rem;
    width: 30rem;
    height: 8.5rem;
  }
}
#top .who__figure-image {
  background-color: #6e6e6e;
  height: 1.6rem;
}
@media screen and (min-width: 1024px) {
  #top .who__figure-image {
    height: 2.8rem;
  }
}
#top .who__circle {
  padding: 0 3rem;
  width: 15rem;
  height: 15rem;
  border-radius: 9999px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  display: flex;
  align-items: center;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  #top .who__circle {
    padding: 0 6.7rem;
    width: 30rem;
    height: 30rem;
    bottom: 50%;
    left: 0;
    translate: 0 50%;
  }
}
#top .who__circle-image {
  background-color: #6e6e6e;
  height: 6.5rem;
}
@media screen and (min-width: 1024px) {
  #top .who__circle-image {
    height: 11rem;
  }
}
#top .who__circle-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: top;
  width: 1px;
  height: 8rem;
  background-size: 1px 6px;
  background-image: linear-gradient(to bottom, #d0d0d0 3px, transparent 3px);
  background-repeat: repeat-y;
}
#top .who__circle-line::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  translate: -50% -50%;
}
@media screen and (min-width: 1024px) {
  #top .who__circle-line::before {
    width: 1.3rem;
    height: 1.3rem;
  }
}
#top .who__circle-line:nth-of-type(1) {
  translate: calc(-50% - 3.5rem) 1rem;
  rotate: 135deg;
}
#top .who__circle-line:nth-of-type(1)::before {
  background-color: #82be28;
}
@media screen and (min-width: 1024px) {
  #top .who__circle-line:nth-of-type(1) {
    translate: -50% 0;
    rotate: 180deg;
  }
}
#top .who__circle-line:nth-of-type(2) {
  translate: calc(-50% + 3.5rem) 1rem;
  rotate: 225deg;
}
#top .who__circle-line:nth-of-type(2)::before {
  background-color: #cc0033;
}
@media screen and (min-width: 1024px) {
  #top .who__circle-line:nth-of-type(2) {
    top: 100%;
    translate: -50% 0;
    rotate: 0deg;
  }
}
#top .who__description {
  font-size: clamp(13px, 1.3rem, 18px);
  letter-spacing: 0.05em;
  line-height: 2;
}
@media screen and (min-width: 1024px) {
  #top .who__description {
    width: 76rem;
    font-size: clamp(20px, 2.5rem, 25px);
  }
}
#top .who__value {
  padding: 8rem 2.5rem 0 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
  overflow: hidden;
}
#top .who__value::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 60rem;
  height: 60rem;
  border-radius: 9999px;
  box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 -5px 10px 0 rgba(255, 255, 255, 0.44);
}
@media screen and (min-width: 1024px) {
  #top .who__value {
    height: 100%;
    flex-direction: row;
    gap: 15rem;
    padding: 0 0 0 30rem;
  }
  #top .who__value::before {
    width: 220rem;
    height: 220rem;
    top: 50%;
    left: 0;
    translate: 0 -50%;
  }
}
#top .who__value-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(50px, 5rem, 70px);
}
@media screen and (min-width: 1024px) {
  #top .who__value-subtitle {
    font-size: clamp(70px, 9.8rem, 98px);
  }
}
#top .who__value-text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 1024px) {
  #top .who__value-text-area {
    gap: 2.4rem;
  }
}
#top .who__text-row {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
@media screen and (min-width: 1024px) {
  #top .who__text-row {
    gap: 1.2rem;
  }
}
#top .who__value-text {
  font-size: clamp(13px, 1.3rem, 20px);
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1024px) {
  #top .who__value-text {
    font-size: clamp(20px, 2.5rem, 25px);
  }
}
#top .who__value-text--box {
  padding: 0.8rem 1.6rem;
  border-radius: 9999px;
  box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 -5px 10px 0 rgba(255, 255, 255, 0.44);
  transition: border-radius, box-shadow 0.4s ease-out;
}
@media screen and (min-width: 1024px) {
  #top .who__value-text--box {
    padding: 1.3rem 2.2rem;
  }
}
#top .who__value-text--box span {
  position: relative;
  font-weight: 700;
  bottom: -10px;
  opacity: 0;
  transition: opacity, bottom 0.4s ease-out;
}
#top .who__value-text--box.js-show-box {
  background-color: #fff;
  box-shadow: none;
}
#top .who__value-text--box.js-show-box span {
  bottom: 0;
  opacity: 1;
}
#top .news {
  margin-bottom: 16rem;
}
@media screen and (min-width: 1024px) {
  #top .news {
    height: calc(100% - 100px);
    margin-bottom: 0;
    margin-right: 22rem;
    flex-shrink: 0;
  }
}
#top .news__inner {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  #top .news__inner {
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
}
#top .news__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(50px, 5rem, 80px);
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
@media screen and (min-width: 1024px) {
  #top .news__title {
    font-size: clamp(130px, 17rem, 170px);
  }
}
@media screen and (min-width: 1024px) {
  #top .news__title {
    width: 107rem;
    margin-bottom: 0;
    margin-right: 40rem;
  }
}
#top .news__section-number {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (min-width: 1024px) {
  #top .news__section-number {
    gap: 4rem;
  }
}
#top .news__section-number span:nth-of-type(1),
#top .news__section-number span:nth-of-type(3) {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(11px, 1.1rem, 20px);
  font-weight: 400;
  color: #939393;
}
@media screen and (min-width: 1024px) {
  #top .news__section-number span:nth-of-type(1),
  #top .news__section-number span:nth-of-type(3) {
    font-size: clamp(24px, 3.6rem, 36px);
  }
}
#top .news__section-number span:nth-of-type(2) {
  flex-grow: 1;
  height: 1px;
  background-color: #d0d0d0;
}
#top .news__contents {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media screen and (min-width: 1024px) {
  #top .news__contents {
    gap: 10rem;
  }
}
#top .news__category {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media screen and (min-width: 1024px) {
  #top .news__category {
    gap: 7rem;
  }
}
#top .news__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(14px, 1.4rem, 18px);
}
@media screen and (min-width: 1024px) {
  #top .news__subtitle {
    font-size: clamp(18px, 2.5rem, 25px);
  }
}
#top .news__select-wrapper {
  position: relative;
  cursor: pointer;
}
#top .news__select-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  width: 0.8rem;
  height: 0.8rem;
  background-color: #000;
}
@media screen and (min-width: 1024px) {
  #top .news__select-wrapper::before {
    width: 1.3rem;
    height: 1.3rem;
  }
}
#top .news__select {
  padding: 0.5rem 0;
  width: 16rem;
  border-bottom: 1px solid #000;
  font-size: clamp(14px, 1.4rem, 18px);
  position: relative;
}
@media screen and (min-width: 1024px) {
  #top .news__select {
    padding: 0.7rem 0;
    width: 22rem;
    font-size: clamp(18px, 2.2rem, 22px);
  }
}
#top .news__card-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 1024px) {
  #top .news__card-area {
    flex-direction: row;
    gap: 8rem;
  }
}
#top .news__card {
  height: 16rem;
  border-radius: 1.5rem;
  background-color: #efefef;
  box-shadow: -5px -5px 10px 0 rgb(255, 255, 255), 3px 3px 5px 0 rgba(0, 0, 0, 0.08);
  transition: background-color, scale 0.4s ease-out;
  position: relative;
}
#top .news__card:hover {
  background-color: #fff;
  scale: 1.05;
}
#top .news__card::before, #top .news__card::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
}
#top .news__card::before {
  background-color: #82be28;
  translate: -2.5rem -1.5rem;
}
#top .news__card::after {
  background-color: #cc0033;
  translate: -1.5rem -1.5rem;
}
@media screen and (min-width: 1024px) {
  #top .news__card {
    width: 46rem;
    height: 30rem;
  }
  #top .news__card::before, #top .news__card::after {
    width: 0.6rem;
    height: 0.6rem;
  }
  #top .news__card::before {
    translate: -4.2rem -3rem;
  }
  #top .news__card::after {
    translate: -3rem -3rem;
  }
}
#top .news__card-link {
  height: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  #top .news__card-link {
    padding: 5rem;
  }
}
#top .news__date {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(13px, 1.3rem, 18px);
  color: #939393;
}
@media screen and (min-width: 1024px) {
  #top .news__date {
    font-size: clamp(16px, 2.2rem, 22px);
  }
}
#top .news__text {
  font-size: clamp(13px, 1.3rem, 18px);
  letter-spacing: 0.05em;
  line-height: 1.85;
}
@media screen and (min-width: 1024px) {
  #top .news__text {
    font-size: clamp(16px, 2.2rem, 22px);
  }
}
#top .news__tag {
  width: fit-content;
  padding: 0.3rem 0.5rem;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: clamp(10px, 1rem, 12px);
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1024px) {
  #top .news__tag {
    font-size: clamp(10px, 1.4rem, 14px);
  }
}
#top .news__more-button {
  width: 15rem;
  padding: 1.7rem 2rem;
  border: 1px solid #000;
  border-radius: 2.5rem;
  background-color: transparent;
  position: relative;
  transition: background-color 0.4s ease-out;
  margin-left: auto;
}
#top .news__more-button span {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(13px, 1.3rem, 16px);
  letter-spacing: -0.04em;
  color: #000;
  position: relative;
  top: 0;
  transition: top 0.4s ease-out;
}
#top .news__more-button span::before {
  content: "View more";
  position: absolute;
  top: 15px;
  left: 0;
  color: #efefef;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
#top .news__more-button:hover {
  background-color: #000;
}
#top .news__more-button:hover span {
  top: -15px;
}
#top .news__more-button:hover span::before {
  opacity: 1;
}
#top .news__more-button::before, #top .news__more-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
}
#top .news__more-button::before {
  background-color: #82be28;
  translate: -3rem -50%;
}
#top .news__more-button::after {
  background-color: #cc0033;
  translate: -2rem -50%;
}
@media screen and (min-width: 1024px) {
  #top .news__more-button {
    padding: 2rem 2.5rem;
    width: 21rem;
    border-radius: 5rem;
  }
  #top .news__more-button span {
    font-size: clamp(16px, 1.8rem, 18px);
  }
  #top .news__more-button::before, #top .news__more-button::after {
    width: 0.6rem;
    height: 0.6rem;
  }
  #top .news__more-button::before {
    translate: -3.5rem -50%;
  }
  #top .news__more-button::after {
    translate: -2.5rem -50%;
  }
}
@media screen and (min-width: 1024px) {
  #top .news__more-button {
    margin: 0;
  }
}
#top .service {
  margin-bottom: 16rem;
}
@media screen and (min-width: 1024px) {
  #top .service {
    height: calc(100% - 100px);
    margin-bottom: 0;
    margin-right: 22rem;
    flex-shrink: 0;
  }
}
#top .service__inner {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  #top .service__inner {
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
}
#top .service__title-wrapper {
  padding: 0 2.5rem;
  height: 50rem;
  background-color: #6e6e6e;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  #top .service__title-wrapper {
    width: 192rem;
    height: calc(100% + 100px);
    justify-content: center;
    margin-bottom: 0;
    margin-right: 16rem;
  }
}
#top .service__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(50px, 5rem, 80px);
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  #top .service__title {
    font-size: clamp(130px, 17rem, 170px);
  }
}
@media screen and (min-width: 1024px) {
  #top .service__title {
    width: 107rem;
  }
}
#top .service__section-number {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (min-width: 1024px) {
  #top .service__section-number {
    gap: 4rem;
  }
}
#top .service__section-number span:nth-of-type(1),
#top .service__section-number span:nth-of-type(3) {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(11px, 1.1rem, 20px);
  font-weight: 400;
  color: #939393;
}
@media screen and (min-width: 1024px) {
  #top .service__section-number span:nth-of-type(1),
  #top .service__section-number span:nth-of-type(3) {
    font-size: clamp(24px, 3.6rem, 36px);
  }
}
#top .service__section-number span:nth-of-type(2) {
  flex-grow: 1;
  height: 1px;
  background-color: #d0d0d0;
}
#top .service__section-number span:nth-of-type(1),
#top .service__section-number span:nth-of-type(3) {
  color: #fff;
}
#top .service__service-menu {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  #top .service__service-menu {
    width: 21rem;
    padding: 0 4rem 0 0;
    gap: 7rem;
  }
  #top .service__service-menu::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #d0d0d0;
  }
}
#top .service__service-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(11px, 1.1rem, 14px);
}
@media screen and (min-width: 1024px) {
  #top .service__service-subtitle {
    font-size: clamp(14px, 1.7rem, 17px);
  }
}
#top .service__menu-wrapper {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 8rem;
}
@media screen and (min-width: 1024px) {
  #top .service__menu-wrapper {
    flex-direction: column;
    gap: 7rem;
    margin-bottom: 0;
  }
}
#top .service__menu-link {
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
#top .service__menu-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d0d0d0;
}
#top .service__menu-number {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(14px, 1.4rem, 18px);
}
#top .service__menu-number--red {
  color: #cc0033;
}
#top .service__menu-number--green {
  color: #82be28;
}
#top .service__menu-en {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(18px, 1.8rem, 24px);
  font-weight: 700;
}
#top .service__menu-jp {
  font-size: clamp(14px, 1.4rem, 18px);
}
#top .service__menu-jp--red {
  color: #cc0033;
}
#top .service__menu-jp--green {
  color: #82be28;
}
#top .service__first, #top .service__second {
  margin-bottom: 11rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
@media screen and (min-width: 1024px) {
  #top .service__first, #top .service__second {
    flex-direction: row;
  }
}
#top .service__summary {
  padding: 0 2.5rem;
}
#top .service__summary-number {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(34px, 3.4rem, 50px);
  margin-bottom: 1rem;
}
#top .service__summary-number--red {
  color: #cc0033;
}
#top .service__summary-number--green {
  color: #82be28;
}
#top .service__summary-title-en {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(34px, 3.4rem, 50px);
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 1rem;
}
#top .service__summary-title-ja {
  display: block;
  font-size: clamp(16px, 1.6rem, 26px);
  margin-bottom: 3rem;
}
#top .service__summary-title-ja--red {
  color: #cc0033;
}
#top .service__summary-title-ja--green {
  color: #82be28;
}
#top .service__summary-text {
  font-size: clamp(13px, 1.3rem, 24px);
  line-height: 1.85;
  letter-spacing: 0.05em;
}
#top .service__detail {
  padding: 11rem 2.5rem 0 2.5rem;
  position: relative;
  overflow: hidden;
}
#top .service__detail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 60rem;
  height: 60rem;
  border-radius: 9999px;
  box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 -5px 10px 0 rgba(255, 255, 255, 0.44);
}
#top .service__detail-list {
  display: flex;
  gap: 13rem;
  counter-reset: card-number;
}
#top .service__detail-item {
  width: 19rem;
  flex-shrink: 0;
}
#top .service__detail-card {
  padding: 3.5rem;
  aspect-ratio: 190/250;
  border-radius: 1.5rem;
  box-shadow: -5px -5px 10px 0 rgb(255, 255, 255), 3px 3px 5px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 1.5rem;
  position: relative;
  counter-increment: card-number;
}
#top .service__detail-card::before {
  content: counter(card-number, decimal-leading-zero);
  position: absolute;
  top: 0;
  left: 0;
  translate: -25% -25%;
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(20px, 2rem, 30px);
}
#top .service__detail-card::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  translate: calc(100% + 1.5rem) -50%;
  width: 10rem;
  height: 1.2rem;
  background: url(../images/top/service_arrow.svg) center center/cover;
}
#top .service__detail-card--red::before {
  color: #cc0033;
}
#top .service__detail-card--green::before {
  color: #82be28;
}
#top .service__card-svg-wrapper {
  height: 100%;
  background-color: #6e6e6e;
}
#top .service__detail-subtitle {
  display: block;
  font-weight: 700;
  font-size: clamp(16px, 1.6rem, 24px);
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
}
#top .service__detail-text {
  font-size: clamp(13px, 1.3rem, 20px);
  letter-spacing: 0.05em;
}
#top .company {
  margin-bottom: 16rem;
}
@media screen and (min-width: 1024px) {
  #top .company {
    height: calc(100% - 100px);
    margin-bottom: 0;
    margin-right: 22rem;
    flex-shrink: 0;
  }
}
#top .company__inner {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  #top .company__inner {
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
}
#top .company__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(50px, 5rem, 80px);
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
@media screen and (min-width: 1024px) {
  #top .company__title {
    font-size: clamp(130px, 17rem, 170px);
  }
}
@media screen and (min-width: 1024px) {
  #top .company__title {
    width: 107rem;
    margin-bottom: 0;
    margin-right: 40rem;
  }
}
#top .company__section-number {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (min-width: 1024px) {
  #top .company__section-number {
    gap: 4rem;
  }
}
#top .company__section-number span:nth-of-type(1),
#top .company__section-number span:nth-of-type(3) {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(11px, 1.1rem, 20px);
  font-weight: 400;
  color: #939393;
}
@media screen and (min-width: 1024px) {
  #top .company__section-number span:nth-of-type(1),
  #top .company__section-number span:nth-of-type(3) {
    font-size: clamp(24px, 3.6rem, 36px);
  }
}
#top .company__section-number span:nth-of-type(2) {
  flex-grow: 1;
  height: 1px;
  background-color: #d0d0d0;
}
#top .company__list-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  #top .company__list-wrapper {
    flex-direction: row;
    gap: 8rem;
  }
}
@media screen and (min-width: 1024px) {
  #top .company__list {
    width: 75rem;
  }
}
#top .company__item {
  padding: 2.5rem 0;
  border-top: 1px solid #d0d0d0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#top .company__item.last {
  border-bottom: 1px solid #d0d0d0;
}
@media screen and (min-width: 1024px) {
  #top .company__item {
    padding: 4rem 0;
    flex-direction: row;
    gap: 9.4rem;
  }
  #top .company__item.last-pc {
    border-bottom: 1px solid #d0d0d0;
  }
}
#top .company__subtitle {
  font-weight: 700;
  font-size: clamp(13px, 1.3rem, 16px);
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1024px) {
  #top .company__subtitle {
    flex-shrink: 0;
    width: 12rem;
    font-size: clamp(16px, 2rem, 20px);
  }
}
#top .company__text {
  font-size: clamp(13px, 1.3rem, 16px);
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1024px) {
  #top .company__text {
    font-size: clamp(16px, 2rem, 20px);
  }
}
#top .contact {
  margin-bottom: 16rem;
}
@media screen and (min-width: 1024px) {
  #top .contact {
    height: calc(100% - 100px);
    margin-bottom: 0;
    margin-right: 22rem;
    flex-shrink: 0;
  }
}
#top .contact__inner {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  #top .contact__inner {
    height: 100%;
    justify-content: center;
  }
}
#top .contact__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(50px, 5rem, 80px);
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  #top .contact__title {
    font-size: clamp(130px, 17rem, 170px);
  }
}
@media screen and (min-width: 1024px) {
  #top .contact__title {
    width: 107rem;
  }
}
#top .contact__text {
  font-size: clamp(13px, 1.3rem, 16px);
  letter-spacing: 0.05em;
  line-height: 1.85;
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (min-width: 1024px) {
  #top .contact__text .no-pc {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  #top .contact__text {
    font-size: clamp(18px, 2rem, 20px);
    margin-bottom: 8rem;
  }
}
#top .contact__button-link {
  width: 15rem;
  padding: 1.7rem 2rem;
  border: 1px solid #000;
  border-radius: 2.5rem;
  background-color: #000;
  position: relative;
  transition: background-color 0.4s ease-out;
  margin-inline: auto;
  margin-bottom: 4rem;
}
#top .contact__button-link span {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(13px, 1.3rem, 16px);
  letter-spacing: -0.04em;
  color: #efefef;
  position: relative;
  top: 0;
  transition: top 0.4s ease-out;
}
#top .contact__button-link span::before {
  content: "Contact Form";
  position: absolute;
  top: 15px;
  left: 0;
  color: #000;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
#top .contact__button-link:hover {
  background-color: transparent;
}
#top .contact__button-link:hover span {
  top: -15px;
}
#top .contact__button-link:hover span::before {
  opacity: 1;
}
#top .contact__button-link::before, #top .contact__button-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
}
#top .contact__button-link::before {
  background-color: #82be28;
  translate: -3rem -50%;
}
#top .contact__button-link::after {
  background-color: #cc0033;
  translate: -2rem -50%;
}
@media screen and (min-width: 1024px) {
  #top .contact__button-link {
    padding: 2rem 2.5rem;
    width: 21rem;
    border-radius: 5rem;
  }
  #top .contact__button-link span {
    font-size: clamp(16px, 1.8rem, 18px);
  }
  #top .contact__button-link::before, #top .contact__button-link::after {
    width: 0.6rem;
    height: 0.6rem;
  }
  #top .contact__button-link::before {
    translate: -3.5rem -50%;
  }
  #top .contact__button-link::after {
    translate: -2.5rem -50%;
  }
}
#top .contact__privacy-policy {
  width: fit-content;
  border-bottom: 1px solid #000;
  margin-inline: auto;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(12px, 1.2rem, 14px);
}
@media screen and (min-width: 1024px) {
  #top .contact__privacy-policy {
    font-size: clamp(15px, 1.7rem, 17px);
  }
}/*# sourceMappingURL=style.css.map */