@use "../global" as *;

.footer {
  padding: 10rem 2.5rem;
  background-color: $footer-black;

  @media screen and (min-width: 1024px) {
    width: 192rem;
    height: 100%;
    padding: 14rem 18rem;
    flex-shrink: 0;
    position: relative;
    z-index: 3;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: relative;

    @media screen and (min-width: 1024px) {
      height: 100%;
      gap: 0;
      justify-content: space-between;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 34rem;
        width: 1px;
        height: 100%;
        background-color: $footer-gray;
      }
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @media screen and (min-width: 1024px) {
      gap: 8rem;
    }
  }

  &__logo-link {
    width: 20rem;
    height: 4rem;
    background-color: $dummy;

    @media screen and (min-width: 1024px) {
      width: 30rem;
      height: 6rem;
    }
  }

  &__dl {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media screen and (min-width: 1024px) {
      gap: 1rem;
    }
  }

  &__dt {
    font-family: $montserrat;
    font-size: clamp(15px, 1.5rem, 17px);
    color: $white;

    @media screen and (min-width: 1024px) {
      font-size: clamp(17px, 2rem, 20px);
    }
  }

  &__dd {
    font-size: clamp(15px, 1.5rem, 17px);
    color: $white;
    line-height: 1.85;

    @media screen and (min-width: 1024px) {
      font-size: clamp(17px, 2rem, 20px);
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @media screen and (min-width: 1024px) {
      width: fit-content;
      gap: 8rem;
    }
  }

  &__link-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media screen and (min-width: 1024px) {
      width: fit-content;
      flex-direction: row;
      gap: 5rem;
    }
  }

  &__link {
    width: fit-content;
    font-family: $montserrat;
    font-size: clamp(15px, 1.5rem, 17px);
    color: $white;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -0.4rem;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $white;
      scale: 0 1;
      transform-origin: right;
      transition: scale 0.4s ease-out;
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          scale: 1 1;
          transform-origin: left;
        }
      }
    }

    @media screen and (min-width: 1024px) {
      font-size: clamp(17px, 2rem, 20px);
    }
  }

  &__note {
    width: 20.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: $footer-gray;
    }

    @media screen and (min-width: 1024px) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      gap: 0;

      &::before {
        display: none;
      }
    }
  }

  &__privacy-policy {
    font-family: $montserrat;
    font-size: clamp(11px, 1.1rem, 13px);
    color: $white;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -0.4rem;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $white;
      scale: 0 1;
      transform-origin: right;
      transition: scale 0.4s ease-out;
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          scale: 1 1;
          transform-origin: left;
        }
      }
    }

    @media screen and (min-width: 1024px) {
      font-size: 13px;
    }
  }

  &__copyright {
    font-family: $montserrat;
    font-size: clamp(11px, 1.1rem, 13px);
    color: $white;

    @media screen and (min-width: 1024px) {
      font-size: 13px;
    }
  }

  &__page-top-button {
    cursor: pointer;
    position: absolute;
    bottom: 1.3rem;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1rem;

    @media screen and (min-width: 1024px) {
      bottom: 50%;
      right: 0;
      translate: 0 50%;
      gap: 2.5rem;

      @media (any-hover: hover) {
        &:hover {
          .footer__circle-front {
            stroke-dasharray: 315% 315%;
          }

          .footer__arrow-image {
            animation: footer-arrow-hover 0.4s ease-out;
          }
        }
      }
    }
  }

  &__icon-wrapper {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media screen and (min-width: 1024px) {
      width: 5rem;
      height: 5rem;
    }
  }

  &__circle-svg {
    width: 100%;
    height: 100%;
    display: block;
    overflow: visible;
  }

  &__circle-back {
    fill: transparent;
    stroke: $footer-gray;
    stroke-width: 1px;
  }

  &__circle-front {
    fill: transparent;
    stroke: $white;
    stroke-width: 1px;
    stroke-dasharray: 0 315%;
    transform-origin: center center;
    rotate: -90deg;
    transition: stroke-dasharray 0.4s ease-out;
  }

  &__arrow-image {
    width: 40%;
    height: 40%;
    position: absolute;
    opacity: 1;

    @media screen and (min-width: 1024px) {
      rotate: -90deg;
    }
  }

  &__page-top-text {
    font-family: $montserrat;
    font-weight: 700;
    font-size: clamp(13px, 1.3rem, 16px);
    color: $white;

    @media screen and (min-width: 1024px) {
      font-size: clamp(18px, 2.1rem, 21px);
    }
  }
}
