@use "../global" as *;

.header {
  padding: 0.5rem 0 0 2.5rem;
  position: absolute;
  transition: filter 0.2s ease-out;
  z-index: 101;

  &.js-blur {
    filter: blur(2px);
  }

  @media screen and (min-width: 1024px) {
    display: none;
  }

  &__logo-link {
    width: 19rem;
    padding: 1rem 0;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__logo-image {
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}
