@use "../setting" as *;

//OP:会社ロゴ表示
@keyframes opening-logo-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//画面下部メニュー:矢印
@keyframes bottom-menu-arrow {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(10px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

//画面下部メニュー:四角
@keyframes bottom-menu-square {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-100%, 0, 0);
  }
  25.01% {
    transform: translate3d(100%, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

//Index:スライド文字
@keyframes index-movie-slide-text {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, -50%, 0);
  }
}

//Serviceセクション:バウンド
@keyframes service-card-bound {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.25;
  }
  100% {
    scale: 1;
  }
}

//Contactセクション:privacyリンクhover
@keyframes contact-line-link-hover {
  0% {
    transform-origin: right;
    scale: 1 1;
  }
  50% {
    transform-origin: right;
    scale: 0 1;
  }
  50.01% {
    transform-origin: left;
    scale: 0 1;
  }
  100% {
    transform-origin: left;
    scale: 1 1;
  }
}

//footer:hover時の矢印
@keyframes footer-arrow-hover {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(-90deg);
  }
  50% {
    opacity: 0;
    transform: translate3d(-12px, 0, 0) rotate(-90deg);
  }
  50.01% {
    opacity: 0;
    transform: translate3d(12px, 0, 0) rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(-90deg);
  }
}
