@use "../global" as *;

#top {
  .wrapper {
    position: relative;

    @media screen and (min-width: 1024px) {
      height: 100vh;
    }
  }

  .main {
    //後で消す ページ制作用
    position: relative;
    z-index: 101;
    //後で消す ページ制作用

    @media screen and (min-width: 1024px) {
      height: 100%;
      display: flex;
      //overflow: hidden;
    }
  }

  .fv {
    @include section-common;
    height: 100svh;
    position: relative;

    &__inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.4rem;

      @media screen and (min-width: 1024px) {
        flex-direction: row-reverse;
        gap: 29rem;
      }
    }

    &__logo {
      width: 16rem;
      height: 20rem;
      background: $dummy;

      @media screen and (min-width: 1024px) {
        width: 53rem;
        height: 65rem;
      }
    }

    &__catchcopy {
      text-align: center;
      font-size: clamp(28px, 2.8rem, 46px);
      font-weight: 700;
      letter-spacing: 0.05em;
      line-height: 1.5;

      @media screen and (min-width: 1024px) {
        text-align: left;
        font-size: clamp(60px, 8.4rem, 84px);
      }
    }

    &__scroll-text {
      position: absolute;
      left: -1.7rem;
      bottom: 6.8rem;
      rotate: 90deg;
      font-family: $montserrat;
      font-size: clamp(12px, 1.2rem, 18px);
      letter-spacing: 0.05em;

      @media screen and (min-width: 1024px) {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        margin-left: 0.8rem;
        width: 1.2rem;
        height: 0.9rem;
        background: url(../images/top/arrow.svg) center center / cover;
      }
    }
  }

  .index {
    @include section-common;

    &__inner {
      @include contents-width;
      display: flex;
      flex-direction: column;
      gap: 4rem;

      @media screen and (min-width: 1024px) {
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 22rem;
      }
    }

    &__title {
      @include section-title;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;

      @media screen and (min-width: 1024px) {
        width: 51rem;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      &:hover {
        .index__line::before {
          scale: 1;
          transform-origin: left;
        }
      }
    }

    &__text {
      font-family: $montserrat;
      font-size: clamp(16px, 1.6rem, 24px);

      @media screen and (min-width: 1024px) {
        font-size: clamp(24px, 2.8rem, 28px);
      }
    }

    &__line {
      flex-grow: 1;
      height: 1px;
      background-color: $line-gray;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        scale: 0;
        transform-origin: right;
        transition: scale 0.4s ease-out;
        background-color: $black;
      }
    }

    &__section-number {
      font-family: $montserrat;
      font-size: clamp(11px, 1.1rem, 14px);
      color: $char-gray;

      @media screen and (min-width: 1024px) {
        font-size: clamp(14px, 1.7rem, 17px);
      }
    }
  }

  .movie {
    @include section-common;
    height: 52rem;
    background-color: $dummy;

    @media screen and (min-width: 1024px) {
      width: 192rem;
      height: 100%;
    }
  }

  .who {
    @include section-common;

    &__inner {
      @include contents-width;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: center;
        height: 100%;
      }
    }

    &__title {
      @include section-title;
      display: flex;
      flex-direction: column;
      margin-bottom: 6rem;

      @media screen and (min-width: 1024px) {
        margin-bottom: 0;
        margin-right: 50rem;
      }
    }

    &__section-number {
      @include section-number;
    }

    &__message {
      font-weight: 700;
      font-size: clamp(16px, 1.6rem, 28px);
      letter-spacing: 0.05em;
      line-height: 2;
      text-align: center;
      margin-bottom: 8rem;

      @media screen and (min-width: 1024px) {
        font-size: clamp(30px, 4.2rem, 42px);
        margin-bottom: 0;
        margin-right: 20rem;
      }
    }
  }
}
