@use "../global" as *;

#top {
  .wrapper {
    position: relative;

    @media screen and (min-width: 1024px) {
      height: 100vh;
    }
  }

  .opening {
    width: 100%;
    height: 100svh;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103;

    @media screen and (min-width: 1024px) {
      height: 100%;
    }

    &__inner {
      width: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 1024px) {
        width: 25rem;
      }
    }

    &__logo-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      margin-bottom: 7rem;
      opacity: 0;
      animation: opening-logo-show 0.4s 0.4s ease-out forwards;
    }

    &__company-logo {
      width: 8rem;
      height: 10rem;
      background-color: $dummy;

      @media screen and (min-width: 1024px) {
        width: 10rem;
        height: 13rem;
      }
    }

    &__name-logo {
      height: 2.4rem;
      background-color: $dummy;

      @media screen and (min-width: 1024px) {
        height: 3rem;
      }
    }

    &__progress-wrapper {
      width: 100%;
      display: flex;
    }

    &__progress-line {
      display: block;
      width: 50%;
      height: 3px;
      scale: 0 1;
      transition: scale 0.4s 0.4s linear;

      &--left {
        background-color: $green;
        transform-origin: left;
      }

      &--right {
        background-color: $red;
        transform-origin: right;
      }

      @media screen and (min-width: 1024px) {
        height: 4px;
      }
    }
  }

  .main {
    height: 100%;
    position: relative;
    z-index: 100;
    transition: filter 0.2s ease-out;

    &.js-blur {
      filter: blur(2px);
    }
  }

  .contents-wrapper {
    @media screen and (min-width: 1024px) {
      height: 100%;
      display: flex;
    }
  }

  .top-menu {
    display: none;

    @media screen and (min-width: 1024px) {
      position: fixed;
      padding: 4rem 0 0 4rem;
      display: flex;
      gap: 15rem;
      z-index: 2;
    }

    &__logo-link {
      @media screen and (min-width: 1024px) {
        width: 20rem;
        height: 4rem;
        background: $dummy;
      }
    }

    &__logo-image {
      @media screen and (min-width: 1024px) {
      }
    }

    &__nav {
      @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        gap: 4rem;
        position: relative;
        top: -150px;
        left: 0;
        transition: top 0.4s ease-out;

        &.js-opened {
          top: 0;
        }
      }
    }

    &__nav-title {
      @media screen and (min-width: 1024px) {
        font-family: $montserrat;
        font-size: clamp(13px, 1.5rem, 15px);
      }
    }

    &__nav-link {
      @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        gap: 1.4rem;
        font-size: clamp(16px, 1.8rem, 18px);
        transition: opacity 0.2s ease-out;

        @media (any-hover: hover) {
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }

    &__nav-number {
      @media screen and (min-width: 1024px) {
        font-family: $montserrat;
        font-size: clamp(16px, 1.8rem, 18px);

        &--red {
          color: $red;
        }

        &--green {
          color: $green;
        }
      }
    }
  }

  .bottom-menu {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      z-index: 2;
    }

    .progress-bar {
      display: none;

      @media screen and (min-width: 1024px) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $line-gray;
        scale: 0 1;
        --bar-scale: 0;
        transform-origin: left;
        transition: scale 0.4s ease-out;

        &.js-showed {
          scale: 1 1;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $black;
          transform-origin: left;
          scale: var(--bar-scale) 1;
          transition: scale 0.15s linear;
        }
      }
    }

    .anchor-list {
      display: none;

      @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 100%;
        padding-left: 25px;
      }

      &__link {
        @media screen and (min-width: 1024px) {
          padding: 10px 15px;
          overflow: hidden;

          &:hover {
            span {
              transition: top 0.4s ease-out;
              top: -35px;
            }
          }
        }
      }

      &__title {
        @media screen and (min-width: 1024px) {
          font-family: $montserrat;
          font-size: 17px;
          position: relative;
          top: 0;

          &::before {
            content: attr(data-text);
            position: absolute;
            top: 35px;
            left: 0;
          }
        }
      }
    }

    &__information-wrapper {
      display: none;

      @media screen and (min-width: 1024px) {
        display: block;
        width: 230px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 40px;
        overflow: hidden;
      }
    }

    &__information-list {
      @media screen and (min-width: 1024px) {
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        display: flex;
        flex-direction: column;
        transition: transform 0.4s ease-out;

        @for $i from 1 through 5 {
          &.js-show-section-#{$i} {
            $value: 100 - (20 * $i);
            transform: translateY($value * 1%);

            li:nth-of-type(#{$i}) {
              scale: 1;
              opacity: 1;
            }
          }
        }
      }
    }

    &__information-item {
      @media screen and (min-width: 1024px) {
        height: 100px;
        display: flex;
        align-items: center;
        gap: 30px;
        scale: 0.7;
        opacity: 0;
        transition:
          scale 0.4s ease-out,
          opacity 0.4s ease-out;
      }
    }

    &__information-section-text {
      @media screen and (min-width: 1024px) {
        color: $char-gray;
        font-family: $montserrat;
        font-size: 15px;
      }
    }

    &__information-title {
      @media screen and (min-width: 1024px) {
        font-family: $montserrat;
        font-size: 20px;
        font-weight: 700;
      }
    }

    &__scroll-circle {
      display: none;

      @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 40px;
        translate: 0 -50%;
        width: 125px;
        height: 125px;
        background-color: $white;
        border-radius: 9999px;
        overflow: hidden;
        scale: 0;
        transform-origin: center center;
        transition: scale 0.4s ease-out;

        &.js-showed {
          scale: 1;
        }
      }
    }

    &__square {
      @media screen and (min-width: 1024px) {
        width: 56px;
        height: 35px;
        border: 1px solid $black;
        border-radius: 2px;
        position: absolute;
        animation: bottom-menu-square 1.5s ease-out infinite;
      }
    }

    &__arrow-image {
      @media screen and (min-width: 1024px) {
        width: 15px;
        height: 10px;
        position: absolute;
        animation: bottom-menu-arrow 1.5s ease-out infinite;
      }
    }

    &__scroll-text {
      @media screen and (min-width: 1024px) {
        font-family: $montserrat;
        font-size: 11px;
        font-weight: 700;
        position: absolute;
        bottom: 0;
        translate: 0 -25px;
      }
    }
  }

  .fv {
    @include section-common;
    height: 100svh;
    position: relative;

    @media screen and (min-width: 1024px) {
      margin-left: 22rem;
    }

    &__inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.4rem;

      @media screen and (min-width: 1024px) {
        flex-direction: row-reverse;
        gap: 29rem;
      }
    }

    &__logo {
      width: 16rem;
      height: 20rem;
      background: $dummy;

      @media screen and (min-width: 1024px) {
        width: 53rem;
        height: 65rem;
      }
    }

    &__catchcopy {
      text-align: center;
      font-size: clamp(28px, 2.8rem, 46px);
      font-weight: 700;
      letter-spacing: 0.05em;
      line-height: 1.5;

      @media screen and (min-width: 1024px) {
        text-align: left;
        font-size: clamp(60px, 8.4rem, 84px);
      }
    }

    &__scroll-text {
      position: absolute;
      left: -1.7rem;
      bottom: 6.8rem;
      rotate: 90deg;
      font-family: $montserrat;
      font-size: clamp(12px, 1.2rem, 18px);
      letter-spacing: 0.05em;

      @media screen and (min-width: 1024px) {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        margin-left: 0.8rem;
        width: 1.2rem;
        height: 0.9rem;
        background: url(../images/top/fv_arrow.svg) center center / cover;
      }
    }
  }

  .index {
    @include section-common;

    &__inner {
      @include contents-width;
      display: flex;
      flex-direction: column;
      gap: 4rem;

      @media screen and (min-width: 1024px) {
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 22rem;
      }
    }

    &__subtitle {
      @include section-subtitle;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      @media screen and (min-width: 1024px) {
        width: 51rem;
      }
    }

    &__link {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      gap: 1.5rem;

      @media (any-hover: hover) {
        &:hover {
          .index__line::before {
            scale: 1 1;
            transition-delay: 0s;
          }

          .index__section-number::before {
            clip-path: inset(0);
            transition-delay: 0.2s;
          }
        }
      }

      @media screen and (min-width: 1024px) {
        padding: 1rem;
      }
    }

    &__text {
      font-family: $montserrat;
      font-size: clamp(16px, 1.6rem, 24px);

      @media screen and (min-width: 1024px) {
        font-size: clamp(24px, 2.8rem, 28px);
      }
    }

    &__line {
      flex-grow: 1;
      height: 1px;
      background-color: $line-gray;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        scale: 0 1;
        transform-origin: left;
        transition: scale 0.2s ease-out;
        transition-delay: 0.2s;
        background-color: $black;
      }
    }

    &__section-number {
      font-family: $montserrat;
      font-size: clamp(11px, 1.1rem, 14px);
      color: $char-gray;

      @media screen and (min-width: 1024px) {
        font-size: clamp(14px, 1.7rem, 17px);
        position: relative;
        display: block;
        width: 10rem;

        &::before {
          content: attr(data-mask);
          position: absolute;
          top: 0;
          left: 0;
          color: $black;
          clip-path: inset(0 100% 0 0);
          transition: clip-path 0.2s linear;
          transition-delay: 0s;
        }
      }
    }
  }

  .movie {
    @include section-common;
    height: 52rem;
    background-color: $dummy;

    @media screen and (min-width: 1024px) {
      width: 192rem;
      height: 100%;
    }
  }

  .who {
    @include section-common;

    &__inner {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: center;
        height: 100%;
      }
    }

    &__title {
      @include section-title;
      padding: 0 2.5rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 6rem;

      @media screen and (min-width: 1024px) {
        padding: 0;
        margin-bottom: 0;
        margin-right: 50rem;
      }
    }

    &__section-number {
      @include section-number;
    }

    &__message {
      padding: 0 2.5rem;
      font-weight: 700;
      font-size: clamp(16px, 1.6rem, 28px);
      letter-spacing: 0.05em;
      line-height: 2;
      text-align: center;
      margin-bottom: 8rem;

      @media screen and (min-width: 1024px) {
        padding: 0;
        font-size: clamp(30px, 4.2rem, 42px);
        margin-bottom: 0;
        margin-right: 20rem;
      }
    }

    &__introduction {
      @include background-semicircle-style;
      padding: 8rem 2.5rem 0 2.5rem;
      margin-bottom: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;

      @media screen and (min-width: 1024px) {
        height: 100%;
        flex-direction: row;
        gap: 24rem;
        padding: 0 0 0 30rem;
        margin-bottom: 0;
        margin-right: 30rem;
      }
    }

    &__figure-area {
      width: 100%;
      padding-bottom: 19rem;
      display: flex;
      justify-content: space-between;
      position: relative;

      @media screen and (min-width: 1024px) {
        width: auto;
        height: 60rem;
        padding-bottom: 0;
        flex-direction: column;
      }
    }

    &__figure {
      padding: 0 2.5rem;
      width: 15rem;
      height: 5rem;
      border-radius: 9999px;
      background-color: $white;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;

      @media screen and (min-width: 1024px) {
        padding: 0 6rem;
        width: 30rem;
        height: 8.5rem;
      }
    }

    &__figure-image {
      background-color: $dummy;
      height: 1.6rem;

      @media screen and (min-width: 1024px) {
        height: 2.8rem;
      }
    }

    &__circle {
      padding: 0 3rem;
      width: 15rem;
      height: 15rem;
      border-radius: 9999px;
      background-color: $white;
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50% 0;
      display: flex;
      align-items: center;
      z-index: 1;

      @media screen and (min-width: 1024px) {
        padding: 0 6.7rem;
        width: 30rem;
        height: 30rem;
        bottom: 50%;
        left: 0;
        translate: 0 50%;
      }
    }

    &__circle-image {
      background-color: $dummy;
      height: 6.5rem;

      @media screen and (min-width: 1024px) {
        height: 11rem;
      }
    }

    &__circle-line {
      position: absolute;
      top: 0;
      left: 50%;
      transform-origin: top;
      width: 1px;
      height: 8rem;
      background-size: 1px 6px;
      background-image: linear-gradient(to bottom, $line-gray 3px, transparent 3px);
      background-repeat: repeat-y;

      &::before {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-radius: 9999px;
        translate: -50% -50%;
      }

      @media screen and (min-width: 1024px) {
        &::before {
          width: 1.3rem;
          height: 1.3rem;
        }
      }

      &:nth-of-type(1) {
        translate: calc(-50% - 3.5rem) 1rem;
        rotate: 135deg;

        &::before {
          background-color: $green;
        }

        @media screen and (min-width: 1024px) {
          translate: -50% 0;
          rotate: 180deg;
        }
      }

      &:nth-of-type(2) {
        translate: calc(-50% + 3.5rem) 1rem;
        rotate: 225deg;

        &::before {
          background-color: $red;
        }

        @media screen and (min-width: 1024px) {
          top: 100%;
          translate: -50% 0;
          rotate: 0deg;
        }
      }
    }

    &__description {
      font-size: clamp(13px, 1.3rem, 18px);
      letter-spacing: 0.05em;
      line-height: 2;

      @media screen and (min-width: 1024px) {
        width: 76rem;
        font-size: clamp(20px, 2.5rem, 25px);
      }
    }

    &__value-wrapper {
      height: 150svh;
      @media screen and (min-width: 1024px) {
        height: 100%;
      }
    }

    &__value {
      @include background-semicircle-style;
      padding: 8rem 2.5rem 0 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      position: sticky;
      top: 0;

      @media screen and (min-width: 1024px) {
        height: 100%;
        flex-direction: row;
        gap: 30rem;
        padding: 0 100rem 0 30rem;
      }
    }

    &__value-subtitle {
      @include section-subtitle;
    }

    &__value-text-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      @media screen and (min-width: 1024px) {
        gap: 2.4rem;
      }
    }

    &__text-row {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      @media screen and (min-width: 1024px) {
        gap: 1.2rem;
      }
    }

    &__value-text {
      font-size: clamp(13px, 1.3rem, 20px);
      letter-spacing: 0.05em;

      @media screen and (min-width: 1024px) {
        font-size: clamp(20px, 2.5rem, 25px);
      }

      &--box {
        padding: 0.8rem 1.6rem;
        border-radius: 9999px;
        box-shadow: $bg-drop-shadow;
        transition:
          background-color,
          box-shadow 0.4s ease-out;

        @media screen and (min-width: 1024px) {
          padding: 1.3rem 2.2rem;
        }

        span {
          position: relative;
          font-weight: 700;
          bottom: -10px;
          opacity: 0;
          transition:
            opacity,
            bottom 0.4s ease-out;
        }

        &.js-show-box {
          background-color: $white;
          box-shadow: none;

          span {
            bottom: 0;
            opacity: 1;
          }
        }

        @for $i from 0 to 10 {
          &.js-delay#{$i} {
            $delay: $i * 0.2;
            transition-delay: #{$delay}s;

            span {
              transition-delay: #{$delay}s;
            }
          }
        }
      }
    }
  }

  .news {
    @include section-common;

    @media screen and (min-width: 1024px) {
      margin-right: 56rem;
    }

    &__inner {
      @include contents-width;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: center;
        height: 100%;
      }
    }

    &__title {
      @include section-title;
      display: flex;
      flex-direction: column;
      margin-bottom: 6rem;

      @media screen and (min-width: 1024px) {
        width: 107rem;
        margin-bottom: 0;
        margin-right: 40rem;
      }
    }

    &__section-number {
      @include section-number;
    }

    &__contents {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      @media screen and (min-width: 1024px) {
        gap: 10rem;
        padding-left: 10rem;
      }
    }

    &__category {
      display: flex;
      align-items: center;
      gap: 3rem;

      @media screen and (min-width: 1024px) {
        gap: 7rem;
      }
    }

    &__subtitle {
      font-family: $montserrat;
      font-weight: 700;
      font-size: clamp(14px, 1.4rem, 18px);

      @media screen and (min-width: 1024px) {
        font-size: clamp(18px, 2.5rem, 25px);
      }
    }

    &__select-wrapper {
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        translate: 0 -50%;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        width: 0.8rem;
        height: 0.8rem;
        background-color: $black;
      }

      @media screen and (min-width: 1024px) {
        &::before {
          width: 1.3rem;
          height: 1.3rem;
        }
      }
    }

    &__select {
      padding: 0.5rem 0;
      width: 16rem;
      border-bottom: 1px solid $black;
      font-size: clamp(14px, 1.4rem, 18px);
      position: relative;

      @media screen and (min-width: 1024px) {
        padding: 0.7rem 0;
        width: 22rem;
        font-size: clamp(18px, 2.2rem, 22px);
      }
    }

    &__card-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
        gap: 8rem;
      }
    }

    &__card {
      height: 16rem;
      border-radius: 1.5rem;
      background-color: $bg-gray;
      box-shadow: $card-drop-shadow;
      transition:
        background-color,
        scale 0.4s ease-out;
      position: relative;

      @media (any-hover: hover) {
        &:hover {
          background-color: $white;
          scale: 1.05;
        }
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 9999px;
      }

      &::before {
        background-color: $green;
        translate: -2.5rem -1.5rem;
      }

      &::after {
        background-color: $red;
        translate: -1.5rem -1.5rem;
      }

      @media screen and (min-width: 1024px) {
        width: 46rem;
        height: 30rem;

        &::before,
        &::after {
          width: 0.6rem;
          height: 0.6rem;
        }

        &::before {
          translate: -4.2rem -3rem;
        }

        &::after {
          translate: -3rem -3rem;
        }
      }
    }

    &__card-link {
      height: 100%;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (min-width: 1024px) {
        padding: 5rem;
      }
    }

    &__date {
      font-family: $montserrat;
      font-size: clamp(13px, 1.3rem, 18px);
      color: $char-gray;

      @media screen and (min-width: 1024px) {
        font-size: clamp(16px, 2.2rem, 22px);
      }
    }

    &__text {
      font-size: clamp(13px, 1.3rem, 18px);
      letter-spacing: 0.05em;
      line-height: 1.85;

      @media screen and (min-width: 1024px) {
        font-size: clamp(16px, 2.2rem, 22px);
      }
    }

    &__tag {
      width: fit-content;
      padding: 0.3rem 0.5rem;
      border: 1px solid $black;
      border-radius: 3px;
      font-size: clamp(10px, 1rem, 12px);
      letter-spacing: 0.05em;

      @media screen and (min-width: 1024px) {
        font-size: clamp(10px, 1.4rem, 14px);
      }
    }

    &__more-button {
      @include button-style($black, transparent, $black, attr(data-text), $bg-gray);
      margin-left: auto;

      @media screen and (min-width: 1024px) {
        margin: 0;
      }
    }
  }

  .service {
    @include section-common;

    &__inner {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: center;
        height: 100%;
      }
    }

    &__title-wrapper {
      @include contents-width;
      height: 50rem;
      background-color: $dummy;
      margin-bottom: 5rem;
      display: flex;
      align-items: center;

      @media screen and (min-width: 1024px) {
        width: 192rem;
        height: 100%;
        justify-content: center;
        margin-bottom: 0;
        margin-right: 16rem;
      }
    }

    &__title {
      @include section-title;
      color: $white;
      width: 100%;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1024px) {
        width: 107rem;
      }
    }

    &__section-number {
      @include section-number;
      span:nth-of-type(1),
      span:nth-of-type(3) {
        color: $white;
      }
    }

    &__service-menu {
      padding: 0 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      position: relative;

      @media screen and (min-width: 1024px) {
        width: 21rem;
        height: 100%;
        padding: 16rem 4rem 0 0;
        gap: 7rem;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          translate: 0 -50%;
          width: 1px;
          height: calc(100% - 12rem);
          background-color: $line-gray;
        }
      }
    }

    &__service-subtitle {
      font-family: $montserrat;
      font-size: clamp(11px, 1.1rem, 14px);

      @media screen and (min-width: 1024px) {
        font-size: clamp(14px, 1.7rem, 17px);
      }
    }

    &__menu-wrapper {
      display: flex;
      gap: 2.5rem;
      margin-bottom: 8rem;

      @media screen and (min-width: 1024px) {
        flex-direction: column;
        gap: 7rem;
        margin-bottom: 0;
      }
    }

    &__menu-link {
      padding-bottom: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      transition: opacity 0.2s ease-out;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $line-gray;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        scale: 0 1;
        transform-origin: right;
        transition: scale 0.4s ease-out;
      }

      &--red::after {
        background-color: $red;
      }

      &--green::after {
        background-color: $green;
      }

      @media (any-hover: hover) {
        &:hover {
          &::after {
            scale: 1 1;
            transform-origin: left;
          }
        }
      }

      @media screen and (min-width: 1024px) {
        padding-bottom: 2rem;
      }
    }

    &__menu-number {
      font-family: $montserrat;
      font-size: clamp(14px, 1.4rem, 18px);

      &--red {
        color: $red;
      }

      &--green {
        color: $green;
      }

      @media screen and (min-width: 1024px) {
        font-size: clamp(18px, 2.2rem, 22px);
      }
    }

    &__menu-en {
      font-family: $montserrat;
      font-size: clamp(18px, 1.8rem, 24px);
      font-weight: 700;

      @media screen and (min-width: 1024px) {
        font-size: clamp(24px, 2.8rem, 28px);
      }
    }

    &__menu-jp {
      font-size: clamp(14px, 1.4rem, 16px);

      &--red {
        color: $red;
      }

      &--green {
        color: $green;
      }

      @media screen and (min-width: 1024px) {
        font-size: clamp(16px, 1.8rem, 18px);
      }
    }

    &__service-wrapper {
      @media screen and (min-width: 1024px) {
        display: flex;
        padding-left: 22rem;
        height: 100%;
      }
    }

    &__first,
    &__second {
      @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        gap: 20rem;
      }
    }

    &__first {
      margin-bottom: 11rem;

      @media screen and (min-width: 1024px) {
        margin-bottom: 0;
        margin-right: 44rem;
      }
    }

    &__summary {
      padding: 0 2.5rem;
      margin-bottom: 6rem;

      @media screen and (min-width: 1024px) {
        padding: 14rem 0 0 0;
        margin-bottom: 0;
        width: 61rem;
      }
    }

    &__summary-number {
      display: block;
      font-family: $montserrat;
      font-size: clamp(34px, 3.4rem, 50px);
      margin-bottom: 1rem;

      &--red {
        color: $red;
      }

      &--green {
        color: $green;
      }

      @media screen and (min-width: 1024px) {
        font-size: clamp(56px, 7.4rem, 74px);
      }
    }

    &__summary-title-en {
      font-family: $montserrat;
      font-size: clamp(34px, 3.4rem, 50px);
      font-weight: 700;
      line-height: 1.15;
      margin-bottom: 1rem;

      @media screen and (min-width: 1024px) {
        font-size: clamp(66px, 9rem, 90px);
      }
    }

    &__summary-title-ja {
      display: block;
      font-size: clamp(16px, 1.6rem, 26px);
      font-weight: 700;
      margin-bottom: 3rem;

      &--red {
        color: $red;
      }

      &--green {
        color: $green;
      }

      @media screen and (min-width: 1024px) {
        font-size: clamp(26px, 3rem, 30px);
        margin-bottom: 8rem;
      }
    }

    &__summary-text {
      font-size: clamp(13px, 1.3rem, 18px);
      line-height: 1.85;
      letter-spacing: 0.05em;

      @media screen and (min-width: 1024px) {
        font-size: clamp(16px, 2rem, 20px);
      }
    }

    &__detail {
      @include background-semicircle-style;
      padding: 11rem 2.5rem 0 2.5rem;

      @media screen and (min-width: 1024px) {
        padding: 0 0 0 24rem;
        display: flex;
        align-items: center;
      }
    }

    &__detail-list {
      display: flex;
      gap: 13rem;
      counter-reset: card-number;

      @media screen and (min-width: 1024px) {
        gap: 26rem;
        padding-right: 1rem;
      }
    }

    &__detail-item {
      width: 19rem;
      flex-shrink: 0;

      &:last-of-type {
        .service__detail-card::after {
          display: none;
        }
      }

      @media screen and (min-width: 1024px) {
        width: 37rem;
      }
    }

    &__detail-card {
      padding: 3.5rem;
      aspect-ratio: 190/250;
      border-radius: 1.5rem;
      box-shadow: $card-drop-shadow;
      margin-bottom: 1.5rem;
      position: relative;
      counter-increment: card-number;

      &::before {
        content: counter(card-number, decimal-leading-zero);
        position: absolute;
        top: 0;
        left: 0;
        translate: -25% -25%;
        width: 5rem;
        height: 5rem;
        border-radius: 9999px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $montserrat;
        font-size: clamp(20px, 2rem, 26px);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        translate: calc(100% + 1.5rem) -50%;
        width: 10rem;
        height: 1.2rem;
        background: url(../images/top/service_arrow.svg) center center / cover;
      }

      &--red::before {
        color: $red;
      }

      &--green::before {
        color: $green;
      }

      @media screen and (min-width: 1024px) {
        padding: 10rem;
        aspect-ratio: 370/480;
        margin-bottom: 3.2rem;

        &::before {
          width: 9rem;
          height: 9rem;
          font-size: clamp(26px, 3rem, 30px);
        }

        &::after {
          translate: calc(100% + 3rem) -50%;
          width: 20rem;
          height: 2.5rem;
        }
      }
    }

    &__card-svg-wrapper {
      height: 100%;
      background-color: $dummy;

      @media screen and (min-width: 1024px) {
      }
    }

    &__detail-subtitle {
      display: block;
      font-weight: 700;
      font-size: clamp(16px, 1.6rem, 22px);
      letter-spacing: 0.05em;
      margin-bottom: 0.5rem;

      @media screen and (min-width: 1024px) {
        font-size: clamp(22px, 2.6rem, 26px);
      }
    }

    &__detail-text {
      font-size: clamp(13px, 1.3rem, 16px);
      letter-spacing: 0.05em;

      @media screen and (min-width: 1024px) {
        font-size: clamp(16px, 2rem, 20px);
      }
    }
  }

  .company {
    @include section-common;

    &__inner {
      @include contents-width;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: center;
        height: 100%;
      }
    }

    &__title {
      @include section-title;
      display: flex;
      flex-direction: column;
      margin-bottom: 6rem;

      @media screen and (min-width: 1024px) {
        width: 107rem;
        margin-bottom: 0;
        margin-right: 40rem;
      }
    }

    &__section-number {
      @include section-number;
    }

    &__list-wrapper {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
        gap: 8rem;
      }
    }

    &__list {
      @media screen and (min-width: 1024px) {
        width: 75rem;
      }
    }

    &__item {
      padding: 2.5rem 0;
      border-top: 1px solid $line-gray;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &.last {
        border-bottom: 1px solid $line-gray;
      }

      @media screen and (min-width: 1024px) {
        padding: 4rem 0;
        flex-direction: row;
        gap: 9.4rem;

        &.last-pc {
          border-bottom: 1px solid $line-gray;
        }
      }
    }

    &__subtitle {
      font-weight: 700;
      font-size: clamp(13px, 1.3rem, 16px);
      letter-spacing: 0.05em;

      @media screen and (min-width: 1024px) {
        flex-shrink: 0;
        width: 12rem;
        font-size: clamp(16px, 2rem, 20px);
      }
    }

    &__text {
      font-size: clamp(13px, 1.3rem, 16px);
      letter-spacing: 0.05em;

      @media screen and (min-width: 1024px) {
        font-size: clamp(16px, 2rem, 20px);
      }
    }
  }

  .contact {
    @include section-common;

    &__inner {
      @include contents-width;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1024px) {
        height: 100%;
        justify-content: center;
      }
    }

    &__title {
      @include section-title;
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;
      text-align: center;

      @media screen and (min-width: 1024px) {
        width: 107rem;
      }
    }

    &__text {
      font-size: clamp(13px, 1.3rem, 16px);
      letter-spacing: 0.05em;
      line-height: 1.85;
      text-align: center;
      margin-bottom: 4rem;

      .no-pc {
        @media screen and (min-width: 1024px) {
          display: none;
        }
      }

      @media screen and (min-width: 1024px) {
        font-size: clamp(18px, 2rem, 20px);
        margin-bottom: 8rem;
      }
    }

    &__button-link {
      @include button-style($bg-gray, $black, transparent, attr(data-text), $black);
      margin-inline: auto;
      margin-bottom: 4rem;
    }

    &__privacy-policy {
      width: fit-content;
      margin-inline: auto;
      font-family: $montserrat;
      font-size: clamp(12px, 1.2rem, 14px);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $black;
      }

      @media (any-hover: hover) {
        &:hover::before {
          animation: line-link-hover 0.4s ease-out;
        }
      }

      @media screen and (min-width: 1024px) {
        font-size: clamp(15px, 1.7rem, 17px);
      }
    }
  }
}
