//色
$white: #fff;
$black: #000;
$bg-gray: #efefef;
$char-gray: #939393;
$line-gray: #d0d0d0;
$green: #82be28;
$red: #cc0033;
$footer-black: #1f1f1f;
$footer-gray: #464646;
$bg-drop-shadow:
  inset 0 1px 6px 0 rgba(0, 0, 0, 0.16),
  0 -5px 10px 0 rgba(255, 255, 255, 0.44);
$card-drop-shadow:
  -5px -5px 10px 0 rgba(255, 255, 255, 1),
  3px 3px 5px 0 rgba(0, 0, 0, 0.08);
