@use "../setting" as *;

@mixin img-base {
  display: block;
  width: 100%;
  object-fit: cover;
}

//コンテンツ幅
@mixin contents-width {


  @media screen and (min-width: 768px) {

  }

  @media screen and (min-width: 1024px) {

  }
}

//見出しスタイル
@mixin section-title {

  @media screen and (min-width: 768px) {

  }
}