@use "../setting" as *;

@mixin img-base {
  display: block;
  width: 100%;
  object-fit: cover;
}

//コンテンツ幅
@mixin contents-width {
  padding: 0 2.5rem;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1024px) {
    //padding: 0 0 0 40rem;
  }
}

@mixin section-common {
  margin-bottom: 16rem;

  @media screen and (min-width: 1024px) {
    height: calc(100% - 100px);
    margin-bottom: 0;
    margin-right: 22rem;
    flex-shrink: 0;
  }
}

//見出しスタイル
@mixin section-title {
  font-family: $montserrat;
  font-weight: 700;
  font-size: clamp(50px, 5rem, 80px);

  @media screen and (min-width: 1024px) {
    font-size: clamp(130px, 17rem, 170px);
  }
}

@mixin section-subtitle {
  font-family: $montserrat;
  font-weight: 700;
  font-size: clamp(50px, 5rem, 70px);

  @media screen and (min-width: 1024px) {
    font-size: clamp(70px, 9.8rem, 98px);
  }
}

@mixin section-number {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @media screen and (min-width: 1024px) {
    gap: 4rem;
  }

  span:nth-of-type(1),
  span:nth-of-type(3) {
    font-family: $montserrat;
    font-size: clamp(11px, 1.1rem, 20px);
    font-weight: 400;
    color: $char-gray;

    @media screen and (min-width: 1024px) {
      font-size: clamp(24px, 3.6rem, 36px);
    }
  }

  span:nth-of-type(2) {
    flex-grow: 1;
    height: 1px;
    background-color: $line-gray;
  }
}

@mixin button-style($text-color, $bg-color, $hovered-bg-color, $hovered-text, $hovered-text-color) {
  width: 15rem;
  padding: 1.7rem 2rem;
  border: 1px solid $black;
  border-radius: 2.5rem;
  background-color: $bg-color;
  position: relative;
  transition: background-color 0.4s ease-out;

  span {
    font-family: $montserrat;
    font-size: clamp(13px, 1.3rem, 16px);
    letter-spacing: -0.04em;
    color: $text-color;
    position: relative;
    top: 0;
    transition: top 0.4s ease-out;

    &::before {
      content: $hovered-text;
      position: absolute;
      top: 15px;
      left: 0;
      color: $hovered-text-color;
      opacity: 0;
      transition: opacity 0.4s ease-out;
    }
  }

  &:hover {
    background-color: $hovered-bg-color;

    span {
      top: -15px;

      &::before {
        opacity: 1;
      }
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 9999px;
  }

  &::before {
    background-color: $green;
    translate: -3rem -50%;
  }

  &::after {
    background-color: $red;
    translate: -2rem -50%;
  }

  @media screen and (min-width: 1024px) {
    padding: 2rem 2.5rem;
    width: 21rem;
    border-radius: 5rem;

    span {
      font-size: clamp(16px, 1.8rem, 18px);
    }

    &::before,
    &::after {
      width: 0.6rem;
      height: 0.6rem;
    }

    &::before {
      translate: -3.5rem -50%;
    }

    &::after {
      translate: -2.5rem -50%;
    }
  }
}

@mixin background-semicircle-style {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    width: 60rem;
    height: 60rem;
    clip-path: circle(50% at top);
    border-radius: 9999px;
    box-shadow: $bg-drop-shadow;
  }

  @media screen and (min-width: 1024px) {
    &::before {
      top: 50%;
      left: 0;
      translate: 0 -50%;
      width: 160rem;
      height: 160rem;
      clip-path: circle(50% at left);
    }
  }
}
